<div class="index">

<body>
   
	<div class="image">
		<h1> Grocery Rails </h1>
	</div>

<div class="menu">
	<!-- Add new item: -->
	<%= link_to "Add new item", new_grocerylist_path, :class => "btn btn-success btn-xs" %></br></br>

	<!-- Grocery list: -->
	<% @grocerylists.each do |grocerylist| %>
	<!-- <li> -->
		<%= link_to grocerylist.description, grocerylist_path(grocerylist.id) %>
		<%= link_to "Edit", edit_grocerylist_path(grocerylist.id), :class => "btn btn-primary btn-sm" %>
		<%= link_to "Delete", grocerylist, :class => "btn btn-warning btn-sm", method: :delete, data: {confirm: "You sure?"} %></br></br>
	<!-- </li> -->
	<% end %>
</div>

</body>


</div>


