<h1> This is the show page </h1>

<p>Description: <%= @grocerylist.description%></p>
<p>Qty: <%= @grocerylist.qty%></p>
<p>Mfg: <%= @grocerylist.mfg%></p>

<%= link_to "Back To Grocery List",grocerylists_path%>